*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}
.menu-containar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.food{
    border: 3px solid #343f23;
    width: 300px;
    margin: 10px;
}
.food img{
    height: 200px;
    width: 300px;
}

/* @media (min-width:480px) and (max-width:768px) {
    h1{
        text-align: center;
        font-weight: 800;
    }
    .food{
        background-color: greenyellow;
    }
} */